In [7]:
import pandas as pd
import numpy
import h5py
import csv

hdf=pd.HDFStore('timit_train.hdf',mode='r')

In [8]:
hdf.keys()

['/timit']

In [9]:
df1 = hdf.get('/timit')

In [10]:
df1.head()

                                            features labels
0  [7.157660529204184, -35.3356264649015, -6.1557...    sil
1  [6.694226896872617, -31.292391724339403, -4.88...    sil
2  [6.623171085695954, -29.11253881469235, -5.265...    sil
3  [6.724085779981514, -28.23018910548072, -4.907...    sil
4  [6.845424562391163, -28.736132288253437, -6.82...    sil

In [11]:
df1['labels'].value_counts()

sil    207051
ih      84082
n       67327
l       60397
s       55543
iy      52096
r       51174
er      47657
ah      39071
k       37382
t       35051
m       32820
d       32575
aa      31440
        31047
z       28804
w       26248
dh      21745
ae      20984
eh      20609
hh      20103
b       19302
dx      19008
p       18661
f       17063
uw      16135
ay      15634
ey      14811
sh      14774
v       14714
g       13894
y       12781
ow      12437
jh      10187
ng       9805
ch       7426
th       5495
aw       4318
oy       3980
uh       2912
Name: labels, dtype: int64

In [ ]:
df1.loc[df1['labels']=='uh']
df1.keys()
a = df1["labels"].unique()
print(a)
for i in a:
    work = []
    for j in df1.loc[df1['labels']==i]["features"]:
        work.append(j)
    
    fileName = i + ".csv"
    with open(fileName, "w") as f:
        writer = csv.writer(f)
        writer.writerows(work)
    f.close()
work=[]
for i in df1.loc[df1["labels"]==""]["features"]:
    work.append(i)

fileName = "nan.csv"
with open(fileName, "w") as f:
    writer = csv.writer(f)
    writer.writerows(work)
f.close()

['sil' 'w' 'ih' 's' 'ah' 'ch' 'n' 'ae' 't' 'v' 'r' 'f' 'y' 'uw' 'sh' 'l'
 'b' 'iy' 'd' 'ow' 'm' 'dx' 'k' 'eh' 'aa' 'g' 'dh' 'er' 'jh' 'z' 'ay' ''
 'p' 'ey' 'ng' 'aw' 'hh' 'oy' 'uh' 'th']